<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fuca - a Discord Bot</title>
    <link rel="stylesheet" href="../assets/css/bulma.min.css" />
    <link rel="icon" type="image/x-icon" href="https://fuca.fluiddev.xyz/assets/img/logo-modified.png">
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.command/tippy.js@6.3.7/animations/scale.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="../assets/js/jquery-3.6.0.js"></script>
  </head>
  <body>
    <!-- Back To Top Start -->
    <a id="backtotop" data-tippy-content="Back To Top.">
      <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
    </a>
    <!-- Back To Top End -->

    <!-- Navbar Start -->
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand mt-2 mb-2">
        <!-- <img
            src="../assets/img/logo-modified.png"
            width="112"
            height="28"
          /> -->

        <a
          role="button"
          class="navbar-burger has-text-white"
          data-target="navMenu"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item is-tab"> Home </a>

          <a href="#features" class="navbar-item is-tab"> Features </a>

          <a href="#stats" class="navbar-item is-tab"> Stats </a>

          <a href="/commands" class="navbar-item is-tab"> Commands </a>
        </div>

        <div class="navbar-end">
          <a href="/discord" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-discord"></i>
          </a>

          <a href="/github" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>

          <div class="navbar-item">
            <% if (user) {%>
            <li class="user">
              <img
                src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png"
                alt="IMAGE"
              />
              <span class="username"><%=user.username%></span>
              <ul class="dropdown">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% } else { %>
            <div class="buttons">
              <button onclick="openWindow()" class="button is-blurple">
                <strong
                  ><i class="fa-solid fa-right-to-bracket mr-2"></i>
                  Login</strong
                >
              </button>
            </div>
            <% }%>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <center><h1>COMMANDS</h1></center>

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <body>
      <div class="container">
        <div id="accordion">
          <% for(const x of commandsname) { %> 
          <% let commandname =
          x; %> <% let commanddescription = commandsdescription[x];
          %>
          <div class="card">
            <div class="card-header">
              <a
                class="card-link"
                data-toggle="collapse"
                href="#collapse<%=x %>"
              >
                /<%= commandname %>
              </a>
            </div>
            <div
              id="collapse<%=x %>"
              class="collapse show"
              data-parent="#accordion"
            >
              <div class="card-body"><%= commanddescription %></div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </body>
    <br />
    <br />
    <!-- Footer Section Start -->
    <footer class="footer bg-base">
      <div class="content has-text-centered has-text-white">
        <div class="mb-2">
          <a href="/" class="has-text-white" target="_blank">
            <i class="fa fa-home"></i> Home
          </a>
          &nbsp; &nbsp;
          <a href="/discord" class="has-text-white" target="_blank">
            <i class="fa-brands fa-discord"></i> Discord
          </a>
          &nbsp; &nbsp;
          <a href="/commands" class="has-text-white" target="_blank">
            <i class="fa fa-terminal"></i> Commands
          </a>
          &nbsp; &nbsp;
          <a href="/invite" class="has-text-white" target="_blank">
            <i class="fa fa-link"></i> Invite
          </a>
          &nbsp; &nbsp;
          <a href="/termsofuse" class="has-text-white" target="_blank">
            <i class="fa fa-file-alt"></i> Terms Of Service
          </a>
          &nbsp; &nbsp;
          <a href="/privacypolicy" class="has-text-white" target="_blank">
            <i class="fa fa-shield-alt"></i> Privacy Policy
          </a>
          &nbsp; &nbsp;
          <a href="/github" class="has-text-white" target="_blank">
            <i class="fa-brands fa-github"></i> Github
          </a>
        </div>

        <p>
          <span class="has-text-weight-bold">Fuca</span>
          <br />
          Made with ❤️ by
          <a href="https://instagram.com/anshtyagi1226" target="_blank">Ansh</a
          >.
          <br />
          &copy; <span id="cp-year"></span> Copyright Fuca. All Rights
          Reserved.
        </p>
      </div>
    </footer>
    <!-- Footer Section End -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.11.7"></script>
    <script src="https://unpkg.com/tippy.js@6.3.7"></script>
    <script src="../assets/js/script.js"></script>

    <script>
      const URLParams = new URLSearchParams(window.location.search);
      const isLogged = URLParams.get("login");
      if (isLogged === "true") {
        try {
          window.close();
        } catch {}
      }
      function openWindow() {
        var win = window.open(
          "/login",
          "Login",
          "width=550,height=800,left=450"
        );
        var timer = setInterval(function () {
          if (win.closed) {
            clearInterval(timer);
            check();
          }
        }, 1000);
      }
      function check() {
        location.reload();
      }
    </script>
  </body>
</html>
